@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: #000000;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.t-a-header.is-open .t-a-header-background {
  left: 0;
}
.t-a-header-button-wrapper {
  margin-left: auto;
}
.t-a-header-icon {
  display: none;
}

.t-a-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.t-a-navigation-list.is-open {
  right: 0;
}
.t-a-header-icon-menu {
  display: block;
}

.t-a-header-icon-button.is-open .t-a-header-icon-menu {
  display: none;
}

.t-a-header-icon-button.is-open .t-a-header-icon-close {
  display: block;
}

.t-a-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: auto;
}

.t-a-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #9f643a;
}
.t-a-header.is-open .t-a-header-background {
  left: 0;
}
.t-a-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.t-a-header-icon-menu {
  display: block;
}

.t-a-header-icon-button.is-open .t-a-header-icon-menu {
  display: none;
}

.t-a-header-icon-button.is-open .t-a-header-icon-close {
  display: block;
}

.t-a-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 40px 19px;
  position: relative;
}

.t-a-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 120px 0;

  gap: 24px;
  background: #9f643a;
}

.t-a-navigation-list.is-open {
  right: 0;
}

.t-a-navigation-link {
  font-family: Inter;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  text-shadow: -1px 1px 0px #000000;
}

.t-a-navigation-link:hover,
.t-a-navigatioт-link:focus {
  border-bottom: 1px solid;
}

.t-a-header.is-open {
  background-color: transparent;
}

.t-a-navigation-img {
  display: none;
}

@media screen and (min-width: 1191px) {
  .t-a-navigation-img {
    display: flex;
  }
  .t-a-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .t-a-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background-image: url("/img/Group\ 2.png");
    left: 50%;
    width: 1226px;
    height: 83px;
    transform: translateX(-50%);
  }

  .t-a-header-background {
  }
  .t-a-header-icon-button {
    display: none;
  }
  .t-a-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .t-a-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 38px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .t-a-navigation-link {
    font-family: Inter;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .t-a-navigation-item-desk {
    display: none;
  }
}
.t-a-home {
  width: 375px;
  height: 848px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 308.png");
  margin: auto;
}
.t-a-home-container {
  width: 375px;
  padding: 144px 8px 0px;
  margin: auto;
}

.t-a-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.t-a-home-title {
  font-family: Libre Franklin;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  border: 3px solid #000000;
  background: #ffffff;

  border-radius: 6px;
  border-width: 3px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
}

.t-a-home-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 276px 87px 0 98px;
}

@media screen and (min-width: 1191px) {
  .t-a-home {
    width: 1440px;
    height: 1201px;
    background-image: url("/img/home/Frame\ 309.png");
  }
  .t-a-home-container {
    width: 1440px;
    padding: 135px 0px 0px;
  }
  .t-a-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .t-a-home-title {
    border-radius: 6px;
    border-width: 3px;
    padding-top: 38px;
    padding-right: 41px;
    padding-bottom: 38px;
    padding-left: 41px;
    font-family: Libre Franklin;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .t-a-home-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    padding: 617px 344px 0;
  }
}
.t-a-about {
  margin: auto;
  width: 375px;
  height: 753px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Frame\ 308\ \(1\).png");
}
.t-a-about-container {
  width: 375px;
  padding: 54px 16px 0px;
  margin: auto;
}
.t-a-about-title {
  font-family: Libre Franklin;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  -webkit-text-stroke: 1px#000000;
  color: #ffffff;
  text-shadow: 0px 3px 0px #000000;
}
.t-a-about-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 220px;
}

@media screen and (min-width: 1191px) {
  .t-a-about {
    width: 1440px;
    height: 643px;
    background-image: url("/img/Frame\ 309\ \(1\).png");
  }
  .t-a-about-container {
    width: 1440px;
    padding: 45px 279px 0;
  }
  .t-a-about-title {
    font-family: Libre Franklin;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;

    -webkit-text-stroke: 2px#000000;
    color: #ffffff;
    text-shadow: 0px 3px 0px #000000;
  }
  .t-a-about-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 276px;
  }
}

.t-a-why-container {
  width: 375px;
  margin: auto;
  padding-bottom: 80px;
}
.t-a-why-textq {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding-top: 40px;
  padding-right: 16px;
  padding-bottom: 40px;
  padding-left: 16px;
  border-radius: 16px;
  background: #ffffff;
  margin: 32px 0 30px;
}
.t-a-why-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.t-a-why-text-bold {
  background-image: url("/img/Frame\ 273.png");
  width: 252px;
  height: 290px;
  padding: 0 31.5px;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-a-why-text {
  background-image: url("/img/Group\ 11.png");
  width: 252px;
  height: 58px;
  margin-top: 16px;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  padding-top: 14px;
}

@media screen and (min-width: 1191px) {
  .t-a-why-container {
    width: 1440px;
    padding-bottom: 120px;
  }
  .t-a-why-textq {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    width: 949px;
    height: 110px;
    padding-top: 40px;
    padding-right: 16px;
    padding-bottom: 40px;
    padding-left: 16px;
    border-radius: 16px;

    margin: 60px auto 62px;
  }
  .t-a-why-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

.t-a-how {
  margin: auto;
  width: 375px;

  background-image: url("/img/how/1.png");
}
.t-a-how-container {
  margin: auto;
  padding: 0px 0px 80px;
}
.t-a-about-title-two {
  background-image: url("/img/how/Group\ 7.png");
  width: 375px;
  height: 138.9375px;
  padding-top: 54px;
}
.t-a-how-list {
  padding: 32px 15.5px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.t-a-how-item {
  background-image: url("/img/how/Frame\ 270.png");
  width: 344px;
  height: 344px;
  padding-right: 70px;
  padding-left: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.t-a-how-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;

  text-align: center;
  padding-top: 24px;
}

@media screen and (min-width: 1191px) {
  .t-a-how {
    margin: auto;
    width: 1440px;

    background-image: url("/img/how/2.png");
  }
  .t-a-how-container {
    margin: auto;
    padding: 0px 0px 120px;
  }
  .t-a-about-title-two {
    background-image: url("/img/how/Group\ 6\ \(1\).png");
    width: 1440px;
    height: 138.9375px;
  }
  .t-a-how-list {
    padding: 60px 180px 0;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.t-a-faq-container {
  padding-bottom: 20px;
  width: 375px;
  margin: auto;
}
.t-a-faq-list {
  padding: 32px 19px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.t-a-faq-item {
  padding: 14px 22px;
  border-width: 3px;
  border-radius: 16px;
  background: #ffffff;
  border: 3px solid #000000;
}

.t-a-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}

.t-a-faq-answer {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-a-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.t-a-toggle-button img {
  transition: transform 0.3s ease;
  width: 36px;
  height: 36px;
}
.t-a-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.t-a-faq-answer.open {
  max-height: 200px;
  opacity: 1;
  padding-top: 16px;
}

.t-a-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1191px) {
  .t-a-faq-container {
    padding-bottom: 65px;
    width: 1440px;
    margin: auto;
  }
  .t-a-faq-list {
    padding: 60px 356px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
.t-a-gallery {
  margin: auto;
  width: 375px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  background-image: url("/img/gallery/Frame\ 298.png");
}
.t-a-gallery-container {
  width: 375px;
  margin: auto;
  padding-top: 54px;
  padding-bottom: 80px;
}
.t-a-gallery-list {
  margin-top: 88px;
  height: 335px;
}

.t-a-gallery-item {
  width: 113px;
  height: 201px;

  overflow: hidden;
  position: relative;
  margin: 0 12px;
  transition: all 0.5s ease;
}
.t-a-gallery-item.slick-center {
  width: 189px;
  height: 335px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #00000059;
}
.t-a-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1191px) {
  .t-a-gallery {
    width: 1440px;
    height: 837px;
    background-image: url("/img/gallery/Frame\ 312.png");
  }
  .t-a-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 45px 180px 0;
  }

  .t-a-gallery-list {
    margin-top: 106px;
    height: 335px;
  }

  .t-a-gallery-item {
    width: 173px;
    height: 307.5555419921875px;
    border-radius: 8px;
  }
  .t-a-gallery-item.slick-center {
    width: 288px;
    height: 513px;
    border-radius: 8px;
  }
}

.t-a-policy-terms {
  background-image: url("/img/Desktope.png");
}
.t-a-policy-terms-container {
  padding: 0px 20px 29px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}
.t-a-policy-terms-container div {
  background-image: url("/img/Group\ 6.png");
  width: 375px;
  height: 247px;
  margin-left: -20px;
  padding-top: 144px;
  margin-bottom: 20px;
}
.t-a-policy-terms-container h1 {
  width: fit-content;
  height: 77px;
  top: 144px;
  left: 87px;
  gap: 10px;
  border-radius: 6px;
  border-width: 3px;
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  background: #ffffff;
  font-family: Libre Franklin;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 auto;
  border: 3px solid #000000;
}
.t-a-policy-terms-container h2 {
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin-bottom: 16px;
}
.t-a-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 16px;
}
.t-a-policy-terms-container p {
  margin-bottom: 16px;
}
.t-a-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1191px) {
  .t-a-policy-terms-container {
    padding: 0px 108px 39px;
    width: 1440px;
    font-family: Inter;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .t-a-policy-terms-container div {
    background-image: url("/img/Group\ 16.png");
    width: 1440px;
    height: 308px;

    margin-left: -108px;
    padding-top: 135px;
    margin-bottom: 49px;
  }
  .t-a-policy-terms-container h1 {
    height: 124px;
    border-radius: 6px;
    border-width: 3px;
    padding-top: 38px;
    padding-right: 41px;
    padding-bottom: 38px;
    padding-left: 41px;
    font-family: Libre Franklin;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .t-a-policy-terms-container h2 {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.t-a-footer-container {
  background-image: url("/img/Frame\ 293.png");
  width: 375px;
  height: 203px;

  padding: 27px 43px;

  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  color: #ffffff;
}

.t-a-footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 16px;
}

.t-a-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}

.t-a-footer-copyright {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1%;
}

@media screen and (min-width: 1191px) {
  .t-a-footer-container {
    background-image: url("/img/Frame\ 293\ \(1\).png");
    width: 1440px;
    height: 139px;
  }

  .t-a-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 19px;
  }

  .t-a-footer-text {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .t-a-footer-copyright {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1%;
  }
}

.t-a-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 28px;
  background: #ffffff;

  z-index: 1000;
  display: none;
}
.t-a-cookie-popup-text {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}
.t-a-cookie-popup-text-two {
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 24px;
}

.t-a-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.t-a-cookie-button {
  border: none;
  background-color: transparent;
  box-shadow: 0px 1px 3px 0px #87614c;
  border: 1px solid #000000;
  width: 319px;

  padding-top: 15px;

  padding-bottom: 15px;

  border-radius: 8px;
  font-family: Inter;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

#accept-cookies {
  border: none;
  background: #9f643a;
  color: #ffffff;
}

.t-a-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1191px) {
  .t-a-cookie-popup-text-two {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .t-a-cookie-popup-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .t-a-cookie-button-container {
    margin: auto;
    display: flex;
    flex-direction: row;
  }

  .t-a-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
  .t-a-cookie-button {
    width: 269px;

    padding: 18px 0;

    border-radius: 8px;
  }
}
